var ProgrammeElement = React.createClass({
  propTypes: {
    info: React.PropTypes.object.isRequired,
  },

  render: function () {
    var item = this.props.info;
    var name = item.seriesName
    var hyphenName = name.replaceAll(/[\.?!]/g, "").split(" ").join("-").toLowerCase();
    var labelText = null;
    var labelClass = null;
    if (!item.ignored) {
      if (item.unwatched_episodes != 0) {
        labelText = item.unwatched_episodes;
        labelClass = "label label-success"
      } else if (item.nextAirDate != null) {
        var splitDate = item.nextAirDate.split("-");
        var dateObject = new Date(splitDate[0], splitDate[1]-1, splitDate[2]);
        labelText = dateObject.relative().split(" from now")[0];
        labelClass = "label label-info"
      } else if (item.status == "Ended") {
        labelText = "ended"
        labelClass = "label label-danger"
      }
    }
    return (
      <div className="col-xs-4 col-sm-3 col-md-2">
        <a href={"/" + item.tvdb_ref + "/" + hyphenName}
            id={"programme-element-"+item.tvdb_ref}>
          {item.image_url != null && item.image_url != "" &&
              <div className="thumbnail">
                <img src={item.image_url} alt={name} />
                {labelText != null &&
                    <div className="thumbnail-label">
                      <h4><span className={labelClass}>{labelText}</span></h4>
                    </div>}
              </div>}
          {(item.image_url == null || item.image_url == "") &&
              <div className="no-image-div thumbnail">
                <%= image_tag "NoThumbnailSearchImage.jpg", alt: "no image" %>
                <div className="no-image-title">
                  <h4>{name}</h4>
                </div>
                {labelText != null &&
                    <div className="thumbnail-label">
                      <h4><span className={labelClass}>{labelText}</span></h4>
                    </div>}
              </div>}
        </a>
      </div>
    );
  }
});
