<div class="auth-page">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="panel panel-default auth-panel">
    <div class="panel-body">
      <h3>Log In</h3>
      </br>
      <%= react_component('LoginContainer', shouldRedirect: true) %>
    </div>
  </div>
</div>
