<div class="intro-image">
  <div class="intro-text">
    <h1>TV Tracker</h1>
    <h2>Keep track of all your favorite tv programs.</h2>
    <a class="intro-sign-up" href="javascript:void(0);" onclick="AuthActions.showSignUpModal()" title="Sign Up">
      Sign Up
    </a>
  </div>
  <a href="#howItWorks" class="arrow-wrap">
    <div class="arrow">
      <span class="glyphicon glyphicon-chevron-down" />
    </div>
    <div class="circle">
    </div>
  </a>
</div>
<div id="howItWorks" class="howItWorks">
    <div class="container">
      <h1>This is hopefully</h1>
      <h1>really big text that</h1>
      <h1>will take up a lot of space</h1>
      <h1>so that I can check where</h1>
      <h1>the scroll button scrolls</h1>
      <h1>down to easily.</h1>
    </div>
</div>

<script>
$(document).ready(function() {
  $('.arrow-wrap').click(function(e) {
    e.preventDefault();
    var length = $('#howItWorks').offset().top;
    $('html, body').animate({ scrollTop: length}, 1000);
  })
});
</script>
