<div class="modal" id="modalSignUp" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard=false>
  <div class="modal-dialog" role="document">
    <%= react_component('AuthPickerContainer', {authAction: 'SignUp'}) %>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
