<%= form_for(:user, :url => password_path(:user)) do |f| %>
  <div class="form-group">
    <%= f.text_field :email, placeholder: "email", class: "form-control" %>
  </div>

  <div class="form-group">
      <%= f.submit 'Send me reset password instructions', class: "btn btn-default" %>
  </div>
  <hr/>

  <a href="/login" class="login-link">
    Log in
  </a>
  </br>
  <a href="/sign_up" class="sign-up-link">
    Sign up
  </a>

<% end %>
