<div id="errors_sign_up">

</div>
<%= devise_error_messages! %>

<form class="form_sign_up">
  <div class="form-group">
    <input type="email" class="form-control" name="user[email]" id="user_email" placeholder="email">
  </div>

  <div class="form-group">
    <input type="password" class="form-control" name="user[password]" id="user_password" placeholder="password">
  </div>

  <div class="form-group">
    <input type="password" class="form-control" name="user[password_confirmation]" id="user_password_confirmation" placeholder="confirm password">
  </div>
</form>

<div class="form-group clearfix">
    <button type="submit" class="btn btn-default pull-right" id="sign_up_submit">Sign Up</button>
</div>
<hr/>

<a href="/login" class="login-link">
  Log in
</a>

<script>
$(document).ready(function() {
  $('#sign_up_submit').click(function() {
    console.log("blah");
    $.ajax({
      type: "POST",
      url: "/users",
      data: $('.form_sign_up').serialize(),
      success: function(msg) {
        $("#errors_sign_up").html(msg)
      },
      error: function() {
        alert("failure");
      }
    });
  });
});
</script>
