<div class="auth-page">
  <div class="panel panel-default auth-panel">
    <div class="panel-body">
      <h3>Change your password</h3>
      </br>
      <%= react_component('EditPasswordContainer', resetPasswordToken: resource.reset_password_token) %>
    </div>
  </div>
</div>
