/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require nprogress
 *= require nprogress-bootstrap
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap/theme";
 @import "colors";

 $header-height: 51px;
 $footer-height: 50px;

 html,body {
   height:100%;
 }

 .page-filler {
   top: 0;
   width: 100%;
   overflow: auto;
   min-height: calc(100% - 101px);
 }

 .list-background {
   background-color: $really-light-grey;
 }

 .alert-custom {
   margin-bottom: 0px;
 }

 .header-filler {
   height: $header-height;
 }

 .navbar-collapse.in,
 .navbar-collapse.collapsing {
   clear: left;
 }

 .navbar-search-form {
   width:  250px;
   border: none;
   margin-left: 10px;
   margin-right: 10px;
   padding-top: 0;
   padding-bottom: 0;
   padding-left: 0;
   box-shadow: none;
   .form-control {
     width: 250px;
     padding-right: 30px;
   }
 }

 #search-icon {
   position: absolute;
   border: none;
   background-color: transparent;
   width: 20px;
   height: 20px;
   right: 15px;
   top: 8px;
   span {
     color: grey;
   }
 }

 .navbar-custom {
   background-color: $dark-grey;
   border-radius: 0;
   position: fixed;
   width: 100%;
   z-index: 100;
 }

 .navbar-custom .icon-bar {
   background-color: white;
 }

 .navbar-custom .navbar-nav > li > a {
     background-color: transparent;
     color: white;
     text-shadow: none;
     &:hover {
       color: $lilac;
     }
     &:focus {
       background-color: transparent;
     }
 }

 .navbar-custom .navbar-nav > li.active > a {
     background-color: blue;
 }
 .navbar-custom .navbar-brand {
     color: $lilac;
     text-shadow: none;
 }

 .header-name-link {
   display: block;
   max-width: 130px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   .caret {
     position: relative;
   }
 }

 .footer {
   width: 100%;
   height: $footer-height;
   background-color: $light-grey;
   line-height: $footer-height;
 }
