@import "colors";

#modalAuth {
  top: 70px;
}

.auth-page {

}

.auth-panel {
  max-width: 500px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.modal-dialog {
  max-width: 500px;
}

.modal-title {
  color: $brand-color;
}
