// Place all the styles related to the Programmes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.no-image-div {
  position: relative;
  text-align: center;
  img {
    opacity: 0.2;
  }
}

.no-image-title {
  top: 0%;
  left: 10%;
  height: 90%;
  width: 80%;
  position: absolute;
  word-wrap: break-word;
  overflow: hidden;
}

.search-header {
  background-color: $light-grey;
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 99;
  h3 {
    line-height: 15px;
  }
}

.top-pick, .other-results, .all-results, .episode-list, .programme-list {
  padding-bottom: 20px;
  position: relative;
}

.top-pick {
  padding-top: 90px;
  background-color: white;
}

.other-results, .episode-list, .programme-list {
  padding-top: 40px;
}

.all-results {
  padding-top: 90px;
}

.series-info {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}

.season-checkbox {
  float: right;
  font-weight: normal;
}

.episode-section {
  position: relative;
  border-bottom: 1px solid #ddd;
}

.episode-checkbox {
  height: 14px;
  width: 14px;
  position: absolute;
  top: 9px;
  right: 16px;
}

.thumbnail-label {
  position: absolute;
  top: -15px;
  right: 10px;
}
