// Place all the styles related to the Programmes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.no-image-div {
  position: relative;
  text-align: center;
  img {
    opacity: 0.2;
  }
}

.no-image-title {
  top: 5%;
  left: 10%;
  height: 85%;
  width: 80%;
  position: absolute;
  word-wrap: break-word;
  overflow: hidden;
}

.search-header {
  background-color: $light-grey;
  position: fixed;
  min-height: 50px;
  width: 100%;
  z-index: 99;
  h4 {
    line-height: 30px;
  }
}

.top-pick, .other-results, .all-results, .episode-list, .programme-list {
  padding-bottom: 20px;
  position: relative;
}

.top-pick {
  padding-top: 90px;
  background-color: white;
}

.other-results, .episode-list, .programme-list {
  padding-top: 40px;
}

.all-results {
  padding-top: 90px;
}

.series-info {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}

.season-checkbox {
  float: right;
  font-weight: normal;
}

.episode-section {
  position: relative;
  border-bottom: 1px solid #ddd;
}

.episode-checkbox {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 9px 15px 10px 10px;
  margin-bottom: 0px;
  input {
    height: 14px;
    width: 14px;
  }
}

.thumbnail-label {
  position: absolute;
  top: -15px;
  right: 10px;
}

.no-image-label {
  position: absolute;
  top: -16px;
  right: -6px;
}

#poster-carousel {
  button {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

.image-sizer {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 147%;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
  }
}
