// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

$circle-length: 40px;

.intro-image {
  height: calc(100% - 51px);
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: cover;
  background-image: image-url('CoverImage.jpg');
  background-color: #909090;
  text-align: center;
}

.intro-text {
  position: relative;
  top: calc(50% - 120px);
  h1 {
    color: $brand-color;
  }
  h2 {
    color: white;
    margin-bottom: 40px;
  }
}

.intro-sign-up {
  padding: 10px;
  font-size: 1.4em;
  border-radius: 10%;
  color: white;
  background-color: $brand-color;
  &:hover, &:active, &:focus {
    color: white;
  }
}

.arrow-wrap {
  position:absolute;
  z-index:1;
  left:calc(50% - 20px); //must be changed with $circle-length
  bottom: 20px;
  width: $circle-length;
  height: $circle-length;
  //background-color: transparent;
  //border: none;
}

.circle {
  border-radius: 50%;
  border: 1px solid white;
  width:100%;
  height:100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.arrow {
  text-align: center;
  span {
    color: white;
    font-size: $circle-length*0.4;
    line-height: $circle-length;
  }
}

.howItWorks {
  height: 1000px;
  background-color: white;
  padding-top: 50px;
}
