<div class="account-page">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="panel panel-default account-panel">
    <div class="panel-body">
      <h3>Your Account</h3>
      </br>
      <%= react_component('AccountContainer', currentUser: current_user) %>
    </div>
  </div>
</div>
