<div class="auth-page">
  <div class="panel panel-default auth-panel">
    <div class="panel-body">
      <h3>Sign Up</h3>
      </br>
      <%= react_component('SignUpContainer', shouldRedirect: true) %>
    </div>
  </div>
</div>
